::-webkit-scrollbar {
  height: 10px;
  width: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #e1e6e7, #052350);
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  padding: 10px 100px;
  border-bottom: 2px solid #fcb210;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 24px;
  margin-left: 50px;
}

.btn_group input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
  padding: 0 10px;
  height: 40px;
  width: 30%;

}

.btn_group button {
  height: 40px;
  border-radius: 4px;
  padding: 0 13px;
  margin-left: 8px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.btn_group_1 {
  border: 1px solid #0d6efd;

  color: #0d6efd;
}
.btn_group button:last-child {
  border: 1px solid #dc3545;
  color: #dc3545;
  display: none;
}

.img_block {
  background-image: url(./assets/home_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  margin-top: 0;
}

.img_block_box_b {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin: 0 auto;
}

.img_block_box {
  width: 48%;
  background-color: white;
  border-radius: 4px;
  color: #525b7a;
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
}

.img_block h1 {
  background-color: rgba(255, 255, 255, 0.6);
  color: #052350;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 36px;
}

.img_block h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.img_block svg {
  width: 40px;
  height: 30px;
  fill: #fcb00f;
  margin-bottom: 18px;
}

.img_block p {
  font-weight: 400;
  font-size: 16px;
  width: 70%;
  line-height: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 40px;
  align-items: center;
}

.main_block1 {
  width: 50%;
}

.main_block1 div {
  margin-bottom: 3rem;
}

.main_block1 h1 {
  color: #292e3d;
  font-size: 64px;
  font-weight: 600;
  text-shadow: #292e3d69 0px 1px 11px;
  margin: 0;
}
.main_block1 p {
  color: #525b7a;
  border-left: 7px solid #fcb210;
  padding-left: 6px;
  margin-left: -10px;
  font-size: 24px;
  font-weight: 400;
}

.main_block2 {
  width: 50%;
}

.main_block2 h1 {
  width: 90%;
  color: rgba(5, 35, 80, 1);
  font-size: 60px;
  font-weight: 700;
  font-family: sans-serif;
  margin-top: 0;
}

.main_block2 p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 60%;
  color: #525b7a;
  letter-spacing: 2px;
}

.main_footer {
  padding: 50px 40px 40px;
  background-color: #f6f8f7;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000000000000000;
}
.main_footer_block1 div {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.main_footer_block1 div h1 {
  color: #052350;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.main_footer_block1 div p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-left: 1rem;
  color: #292e3d;
  letter-spacing: 1px;
}

.main_footer_block2 {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 45%;
}
.main_footer_block2 h1 {
  color: #052350;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.main_footer_block2 input {
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px 10px;
  outline: none;
}

.main_footer_block2 button {
  outline: none;
  border: none;
  background-color: #fcb210;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px 30px;
  cursor: pointer;
  margin-left: 10px;
}

.main_footer_block2 h2 {
  color: #052350;
  letter-spacing: 0.5px;
  font-size: 20px;
  margin: 0;
  margin-top: 80px;
  text-transform: uppercase;
}

.main_footer_block2 svg {
  fill: #052350;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
}

.my_footer {
  background-color: #052350;
  padding: 25px 100px;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1000000000000000;
}

.my_footer h1 {
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.body {
  margin-left: 360px;
}

/* ------------------------ */

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #4f4f4f;
}

.newClass {
  margin-top: 0 !important;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #332d2d0d;
  color: #4f4f4f;
}

.dropdown-container .dropdown-btn {
  padding-left: 20px;
}

.btn_group{
  text-align: center;
margin: 20px 0;
display: flex;
align-items: center;
justify-content: center;
}

.btn_group img{
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #fff;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
.sidenav {
  padding-top: 15px;
  margin-top: 150px;
  box-shadow: rgba(0, 0, 0, 0.05) -4px 0px 8px; 
  height: auto;
  margin-left: 3rem;
}
.sidenav a {
  font-size: 15px;
  width: 90%;
}

/* ----------------basic_spatial_data---------------- */
.basic_spatial_data {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 3rem;
}
.lowGas_title,
.basic_spatial_data__title {
  color: #052350;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.basic_spatial_data_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.basic_spatial_data_block__box {
  width: 23%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 1rem;
}

.basic_spatial_data_block__box div {
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 16px;
}

.basic_spatial_data_block__box h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #212529;
  line-height: 24px;
}

.basic_spatial_data_block__box p {
  color: #6c757d;
}

.basic_spatial_data_block__box h2,
.basic_spatial_data_block__box p {
  font-size: 16px;
  font-weight: 400;
  margin: 8px 0 0;
}

.basic_spatial_data_block__box h2 {
  line-height: 20px;
  margin-bottom: 1rem;
  color: #212529;
}

.basic_spatial_data_block__box button {
  background-color: #0d6efd;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.state_border {
  padding: 1rem 100px;
  background-color: #f6f8f7;
}

.state_border__title {
  text-align: center;
  color: #292e3d;
  font-size: 36px;
  font-weight: 700;
}

.state_border_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.state_border_block__box {
  background-color: white;
  width: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 20px;
  box-sizing: border-box;
  margin-bottom: 2rem;
  text-decoration: none;
}

.state_border_block__box span {
  background-color: #2947a9;
  height: 2px;
  width: 60px;
  margin-bottom: 20px;
}

.state_border_block__box h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #052350;
}

.state_border_block__box p {
  color: #6c757d;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.state_border_block__box_blue {
  background-color: #052350;
  color: white;
}
.state_border_block__box_blue p,
.state_border_block__box_blue h1 {
  color: white;
}

.state_border_block__box_blue span {
  background-color: #e0e3eb;
}

/* ------------unified system */
.unifiedSystem_block {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}
.unifiedSystem_block_box {
  width: 48%;
  margin-bottom: 2rem;
  text-align: center;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  box-sizing: border-box;
}
.unifiedSystem_block_box h3,
.unifiedSystem_block_box h2 {
  background-color: #f7f7f7;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 8px;
  line-height: 24px;
}

.unifiedSystem_block_box h2 {
  color: #212529;
  border-bottom: 1px solid #d2d2d2;
}

.unifiedSystem_block_box h3 {
  color: #6c757d;
  border-top: 1px solid #d2d2d2;
}

.unifiedSystem_block_box h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.active .fa.fa-caret-down {
  transform: rotate(180deg);
  padding-right: 0;
  padding-left: 8px;
}

/* --------------lowGas_header-------------- */
.lowGas {
  padding: 50px 100px;
}
.lowGas_header {
  display: flex;
  align-items: center;
}

.lowGas_header button {
  background-color: #0d6efd;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers a {
  color: #0d6efd;
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fff;
  color: #212529;
}

.lowGas_table_title {
  font-weight: 600;
  font-size: 18px;
  color: #292e3d;
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.lowGas_table_2#customers tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.lowGas_table_2#customers tr:nth-child(even) {
  background-color: white;
}

.lowGas_table_2#customers tr:nth-child(odd) td:last-child {
  color: #1583f1;
  text-decoration: underline;
}

.lowGas_table_2#customers a {
  color: #1583f1;
}

@media screen and (max-width: 850px) {
  .logo h1 {
    display: none;
  }
}

.nav {
  display: none;
}

@media screen and (max-width: 1270px) {
  .lowGas_header h1 {
    font-size: 20px;
  }
  .lowGas {
    padding: 30px 50px;
  }
  .state_border {
    padding: 1rem 50px;
  }
  .state_border__title {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .state_border_block__box p {
    font-size: 14px;
    margin-top: 8px;
  }
  .state_border_block__box h1 {
    text-align: center;
    font-size: 16px;
  }
  .unifiedSystem_block_box h3,
  .unifiedSystem_block_box h2 {
    font-size: 14px;
  }
  .unifiedSystem_block_box h1 {
    font-size: 16px;
  }
  .main_block2 h1 {
    font-size: 40px;
    width: 100%;
    text-align: right;
  }
  .main {
    padding: 60px 60px 20px;
  }
  .main_block2 p {
    width: 100%;
    text-align: right;
  }
  .img_block_box_b {
    width: calc(100% - 50px);
  }
  .img_block h2 {
    font-size: 18px;
  }
  .img_block p {
    width: 100%;
  }
  .main_footer {
    padding: 50px 20px 40px;
  }
  .main_footer_block1 div h1,
  .main_footer_block2 button,
  .main_footer_block2 input,
  .main_footer_block1 div p,
  .main_footer_block2 h1 {
    font-size: 14px;
  }
  .main_footer_block2 button {
    padding: 8px 15px;
  }
  .main_footer_block2 input {
    padding: 8px 5px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    padding: 80px 80px 20px;
  }
  .img_block_box_b {
    width: calc(100% - 100px);
  }
  .img_block h2 {
    font-size: 17px;
  }
  .img_block p {
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
  }
  .header {
    padding: 10px 30px;
  }

  .sidenav {
    display: none;
  }

  .nav {
    height: auto;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: block;
    padding: 1rem;
    box-sizing: border-box;
  }

  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #052350;
    box-sizing: border-box;
  }

  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    cursor: pointer;
    display: inline-block;
    width: 50px;

    height: auto;
    padding: 2rem 10px 0;
    box-sizing: border-box;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 7px;
    border-top: 3px solid #052350;
  }
  .nav > .nav-links {
    margin-top: 2rem;
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  #nav-check {
    display: none;
  }

  /* -------main section */
  .body {
    margin: 0;
  }
  .header {
    display: none;
  }
  .logo img {
    width: 150px;
  }
  .logo h1 {
    display: none;
  }
  .img_block {
    margin-top: 0;
  }
  .main_footer {
    padding: 50px 20px 40px;
  }
  .main_footer_block2 h1 {
    font-size: 16px;
  }
  .main_footer_block1 div p {
    font-size: 14px;
  }
  .main_footer_block1 div h1 {
    font-size: 14px;
  }
  .main_footer_block2 {
    width: 47%;
  }
  .main_footer_block1 {
    width: 47%;
  }
  .main_footer_block2 button {
    font-size: 14px;
    padding: 8px 20px;
  }
  .main_footer_block2 input {
    font-size: 12px;
    padding: 8px 4px;
  }
}

@media screen and (max-width: 760px) {
  .unifiedSystem_block_box h3,
  .unifiedSystem_block_box h2 {
    font-size: 12px;
  }
  .unifiedSystem_block_box {
    width: 49%;
  }
  .unifiedSystem_block_box h1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 670px) {
  .state_border__title {
    font-size: 18px;
  }
  .state_border {
    padding: 1rem 30px;
  }
  .state_border_block__box {
    width: 48%;
  }
  .unifiedSystem_block_box {
    width: 80%;
  }
  .img_block_box_b {
    flex-direction: column;
  }
  .img_block_box {
    width: 80%;
    margin-bottom: 1rem;
    margin: 0 auto 1rem;
  }
  .img_block h1 {
    font-size: 20px;
    margin-top: 2rem;
  }
  .main {
    flex-direction: column-reverse;
    padding: 40px 30px 20px;
  }
  .main_block1 {
    width: 70%;
  }
  .main_block2 {
    width: 100%;
  }
  .main_block2 p,
  .main_block2 h1 {
    text-align: center;
  }
  .main_block2 h1 {
    font-size: 30px;
  }
  .main_block2 p {
    font-size: 16px;
    line-height: 24px;
  }
  .main_footer_block1 {
    display: none;
  }
  .main_footer {
    justify-content: center;
  }
  .main_footer_block2 {
    width: 80%;
  }
  .main_footer_block2 h2 {
    margin-top: 2rem;
  }
  .unifiedSystem_block {
    justify-content: center;
    margin-top: 0.5px;
  }
  .lowGas_title,
  .basic_spatial_data__title {
    font-size: 25px;
  }
}
@media screen and (max-width: 660px) {
  .btn_group input,
  .btn_group_1 {
    display: none;
  }
  .logo img {
    width: 100px;
  }
  .lowGas {
    padding: 1rem 20px;
  }
  .lowGas_header h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .state_border_block__box {
    width: 80%;
  }
  .state_border_block {
    justify-content: center;
  }
  .lowGas_header h1 {
    display: none;
  }
}
